.herobackground {
	display: flex;
	width: 100vb;
	padding-top: 220px;
	padding-left: 100px;
	justify-content: left;
	flex-direction: column;
}
.typewriter {
	text-align: left;
}
.LinkHero {
	color: black;
}
.LinkHero:hover {
	color: white;
}
@font-face {
	font-family: 'bruno';
	src: local('bruno'),
		url('../../fonts/BrunoAce-Regular.ttf') format('truetype');
}
.typewriter h1 {
	color: #fff;
	font-family: 'bruno';
	font-size: 35px;
	font-weight: 700;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: 0.15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.05em; /* Adjust as needed */
	animation: typing 3.5s steps(20, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}
.corrector {
	display: flex;
	justify-content: flex-start;
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	width: auto;
}
.body_content {
	text-align: center;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: monospace;
	font-size: 12px; /* Ensures the content is not revealed until the animation */ /* The typwriter cursor */
	margin: 5% auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: 0.15em; /* Adjust as needed */
	width: 100%;
	height: 120px;
	padding-bottom: 0%;
	padding-top: 12%;
	text-align: left;
}
.learn_btn {
	height: 30px;
	width: 100px;
	text-align: center;
	font-family: monospace;
	color: black;
	align-content: center;
	background-color: white;
	align-self: left;
	border-radius: 10px;
	border: dotted 3px white;
	transition-duration: 0.2s;
	text-decoration: none;
	align-self: left;
}
.a {
	text-decoration: none;
}
.learn_btn:hover {
	height: 30px;
	width: 100px;
	color: white;
	align-content: center;
	background-color: transparent;
	align-self: left;
	border-radius: 10px;
}
.background_img {
	background-image: url(../images/akshay.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x: 10%;
	background-position-y: 60%;
	height: 100vh;
}
@media only screen and (max-width: 1100px) {
	.herobackground {
		height: 100vh;
		width: auto;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		margin-bottom: 70%;
		padding-top: 0px;
		padding-left: 0px;
	}
	.typewriter {
		text-align: center;
		margin-top: 20px;
		padding-top: 0;
	}
	.typewriter h1 {
		color: #fff;
		font-size: 14px;
		padding-top: 19vb;
		font-family: monospace;
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 0.15em solid orange; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: 0.15em; /* Adjust as needed */
		animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
	}

	/* The typing effect */
	@keyframes typing {
		from {
			width: 0;
		}
		to {
			width: 100%;
		}
	}

	/* The typewriter cursor effect */
	@keyframes blink-caret {
		from,
		to {
			border-color: transparent;
		}
		50% {
			border-color: orange;
		}
	}
	.corrector {
		background-color: rgba(0, 0, 0, 0.6);
		height: 100vh;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.body_content {
		text-align: center;
		color: #fff;
		font-family: monospace;
		font-size: 8px; /* Ensures the content is not revealed until the animation */ /* The typwriter cursor */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: 0.15em; /* Adjust as needed */
		width: 300px;
		height: 200px;
		padding-bottom: 0%;
	}
	.background_img {
		
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100%;
	}
	.learn_btn {
		height: 30px;
		width: 100px;
		text-align: center;
		font-family: monospace;
		color: black;
		align-content: center;
		background-color: white;
		align-self: left;
		border-radius: 10px;
		border: dotted 3px white;
		transition-duration: 0.2s;
		text-decoration: none;
		align-self: center;
	}
	.a {
		text-decoration: none;
	}
	.learn_btn:hover {
		height: 30px;
		width: 100px;
		color: white;
		align-content: center;
		background-color: transparent;
		align-self: center;
		border-radius: 10px;
	}
}
