.projectcontainer {
	height: 25vh;
	width: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.pictureframe {
	align-self: center;
	height: 130px;
	width: 250px;
	background-color: white;
	border-radius: 15%;
	animation-name: example;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}
@keyframes example {
	0% {
		background-image: url(../images/project1.JPG);
		background-size: 350px 200px;
	}
	25% {
		background-image: url(../images/project2.JPG);
		background-size: 350px 200px;
	}
	50% {
		background-image: url(../images/project1.JPG);
		background-size: 350px 200px;
	}
	75% {
		background-image: url(../images/project2.JPG);
		background-size: 350px 200px;
	}
	100% {
		background-image: url(../images/project1.JPG);
		background-size: 350px 200px;
	}
}
.body_writeup {
	align-self: center;
	display: flex;
	flex-direction: column;
	margin-left: 30px;
}
.body_text {
	width: 500px;
	height: auto;
	font-size: 18px;
	color: white;
	font-family: monospace;
}
.buttoncontainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}
.projeectbback {
	background-image: url(../images/projectbak.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}
@media only screen and (max-width: 800px) {
	.projectcontainer {
		height: 50vh;
		width: auto;
		background-color: rgba(0, 0, 0, 0.4);
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		margin: 0;
	}
	.pictureframe {
		align-self: center;
		height: 150px;
		width: 200px;
		background-color: white;
		border-radius: 15%;
		animation-name: example;
		animation-duration: 10s;
		animation-iteration-count: infinite;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
		margin-top: 15px;
	}
	@keyframes example {
		0% {
			background-image: url(../images/project1.JPG);
			background-size: cover;
		}
		25% {
			background-image: url(../images/project2.JPG);
			background-size: cover;
		}
		50% {
			background-image: url(../images/project1.JPG);
			background-size: cover;
		}
		75% {
			background-image: url(../images/project2.JPG);
			background-size: cover;
		}
		100% {
			background-image: url(../images/project1.JPG);
			background-size: cover;
		}
	}
	.body_writeup {
		align-self: center;
		display: flex;
		flex-direction: column;
		margin: 0px;
	}
	.body_text {
		width: 250px;
		height: auto;
		align-items: center;
		font-size: 12px;
		color: white;
		text-align: center;
		font-family: monospace;
	}
	.buttoncontainer {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-bottom: 15px;
	}
}
